
body{
    user-select: none;
}
button{
    height: 90vh;
    width:45vw;
    border-radius: 0;
    border: 0;
    background-color: blue;
    font-size: 20vw;
    color: white;
}

#right{
    float:right;
}
